node_modules
.idea
.astro
dist

# Optional: if you embed large files here
/src-tauri/dist/

# --- Rust/Cargo ---
/src-tauri/.cargo-lock
/src-tauri/Cargo.lock
/src-tauri/Cargo.toml.orig

# Build output from bundler
/src-tauri/bundled/

/src-tauri/gen/android/app/build/
/src-tauri/gen/android/app/.cxx/
/src-tauri/gen/android/.gradle/
/src-tauri/gen/android/local.properties
/src-tauri/gen/android/gradle/
/src-tauri/gen/android/gradlew
/src-tauri/gen/android/gradlew.bat