---
import Navbar from "../components/Navbar.astro";
const { title, hideNavbar } = Astro.props;
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={(process.env.GITHUB_PAGES ? import.meta.env.BASE_URL : "") + `/favicon.png`} />
    <title>{title}</title>
</head>
<body class="min-h-screen text-foreground">
{!hideNavbar && <Navbar />}
<slot />
<script>
    import { Menu, MenuItem, Submenu } from '@tauri-apps/api/menu';

    async function safeIsTauri() {
        try {
            const { isTauri } = await import('@tauri-apps/api/core');
            return isTauri();
        } catch {
            return false; // Browser
        }
    }

    async function setupMenu() {
        const windowTauri = await safeIsTauri();
        if (!windowTauri) return; // Prevents running in normal browser

        let currentPlatform = "web";
        const os = await import("@tauri-apps/plugin-os");
        currentPlatform = os.platform();
        if (currentPlatform === "android" || currentPlatform === "ios") return;

        const goBack = await MenuItem.new({
            id: "go-back",
            text: "Go Back",
            accelerator: "Alt+Left",
            action: () => window.history.back(),
        });

        const goNext = await MenuItem.new({
            id: "go-next",
            text: "Go Next",
            accelerator: "Alt+Right",
            action: () => window.history.forward(),
        });

        const reload = await MenuItem.new({
            id: "reload",
            text: "Reload",
            accelerator: "Ctrl+R",
            action: () => window.location.reload(),
        });

        const navMenu = await Submenu.new({
            id: "navigation",
            text: "Navigation",
            items: [goBack, goNext, reload],
        });

        const menu = await Menu.new({
            items: [navMenu],
        });

        await menu.setAsAppMenu();
    }

    // Initialize when DOM is loaded
    document.addEventListener('DOMContentLoaded', () => {
        setupMenu();
    });
</script>
</body>
</html>